<ul>
        <li><a class="active" href="#home">Principal</a></li>
        <li><a href="#news">Acerca</a></li>
      
</ul>
<div class="container"> 
<div class="jumbotron"> 
        <h2>
            Grafos
        </h2>                        
      <p> Se visualiza el contenido de la base de datos de grafos embebida en OrientDB.
      </p> 
    </div> 
<cy-graph></cy-graph>
</div>
<!-- , 
          mediante un server realizado en NodeJS que previo se conecta a la base de datos, y expone mediante
          una API, el acceso al recurso. El server realiza transformaciones correspondientes para que se pueda visualizar
          correctamente mediante la librería Cytoscape. 
          En la parte del Front End de la aplicacion esta realizado mediante el FrameWork angular y la 
          la librería Cytoscape.js  que permite graficar y estudiar relaciones
          entre gráfos.http://js.cytoscape.org -->
          