<div class="row">
    <div class="col-lg-9">
        <input type="email" class="form-control" id="email"  name="email"  [(ngModel)]="input">

    </div>

    <div class="col-lg-3">
        <button type="submit" class="btn btn-default" (click)="ejecutarQuery()">Ejecutar</button>
    </div>

</div>

<div style="height: 90%; width: 80%; float: left; overflow: auto; overflow-y: hidden">
    <ng2-cytoscape [elements]="graphData" [layout]="layout" (select)="nodeChange($event)"
    (metricaGrafo)=metricas($event) ></ng2-cytoscape>
</div>
<br>
<br>

<div style="height: 90%; width: 20%; float: left; overflow: auto; overflow-x: hidden">
    <h4>Nodo Seleccionado: </h4>
    <h6>{{node_name}}</h6>
<br>
<br>
<h4>Métricas del grafo:</h4>
<br>
<div class="alert alert-success">
    Grado total de los nodos: <strong>{{metrica.totalDegree}}</strong>
  </div>
  
  <div class="alert alert-success">
    Máximo grado de los nodos:  <strong>{{metrica.maxDegree}}</strong>
  </div>

<div class="alert alert-success">
    Mínimo grado de los nodos: <strong>{{metrica.minDegree}}</strong>
  </div>


<h4>Métricas de cada nodo:</h4>
<br>
    <button (click)="aristasIncidentes()" class="btn btn-secondary">Grado de aristas incidentes </button>
    <br>
    <br>
    <button (click)="aristasSalientes()" class="btn btn-secondary">Grado de aristas salientes </button>
    <br>
    <br>
    <button (click)="gradoVertice()" class="btn btn-secondary">Grado de un vertice </button>

    <br>






</div>